@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
article {
  width: 350px;
  margin: 0 auto;
  margin-top: 4rem;
  text-align: left;
  text-transform: uppercase;
}

article .box {
  display: inline-block;
  height: 24px;
  width: 3.3rem;
  background-color: #242942;
  border-radius: 14px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  color: white;
  text-align: center;
}

article h3 {
  display: inline-block;
  padding-left: 1rem;
  font-size: 1.1rem;
  letter-spacing: 3px;
  color: #a0a1ac;
}

article h1 {
  margin-top: 1rem;
  font-size: 2.5rem;
}

article p {
  margin-top: 1rem;
  font-size: 1.2rem;
  text-transform: none;
  color: #5b5f71;
}

article button {
  display: inline-block;
  margin-top: 2rem;
  height: 40px;
  width: 10rem;
  border: none;
  background-color: #ff5c5c;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
}

article .bottomPreview {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

header {
  position: relative;
  width: 100%;
  padding: 2rem 2rem 2.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header img {
  width: 26px;
}

header #menuIcon:hover {
  cursor: pointer;
}

header nav {
  position: absolute;
  display: inline;
  opacity: 0;
  margin: 0 2rem;
  margin-top: 5rem;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  -webkit-box-shadow: 0 0 13px 0 #a0a1ac;
          box-shadow: 0 0 13px 0 #a0a1ac;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

header nav.open {
  visibility: visible;
  opacity: 1;
}

header nav.open p {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

header nav.open p:hover {
  cursor: pointer;
  background-color: lightcoral;
}

header nav.open p:active {
  background-color: #ff5c5c;
}

header nav p {
  padding: 1rem;
}

header nav .divider {
  content: "";
  height: 1px;
  margin: 1rem;
  background-color: #a0a1ac;
  margin-bottom: 0;
}

header nav .login {
  color: #a0a1ac;
  padding: 1.2rem;
  border-color: #a0a1ac;
}

@-webkit-keyframes bg {
  to {
    background-color: red;
  }
}

@keyframes bg {
  to {
    background-color: red;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
button,
nav {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
}

h3 {
  font-weight: 400;
}

body {
  position: relative;
  overflow: hidden;
  font-family: 'Barlow', sans-serif;
}

body::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  right: 0;
  bottom: 45%;
  background-color: #eef3f6;
  border-bottom-left-radius: 3rem;
  z-index: -1;
}

body .bgHelper {
  width: 100%;
  width: 100%;
  height: 100vh;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

body .bgHelper .flex {
  width: 100%;
  text-align: center;
}

body .bgHelper .flex img {
  width: 31rem;
}
/*# sourceMappingURL=main.css.map */